html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    height: 100vh;
    overflow: hidden;
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    display: grid;
    grid-template-columns: 30vw 70vw;
    overflow: hidden;
    position: relative;

    @include viewport(medium) {
        grid-template-columns: 1fr;
        grid-template-rows: 30vh 70vh;
    }
}