// =======================
// HTML tags
// =======================
h1, h2, h3, h4, h5 {
    font-weight: 500;
    margin: 0;
    color: black;
}

a {
    // text-decoration: none;
    color: black;
}

p {
    color: black;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

// =======================
// Forms
// =======================
form {
    max-width: 500px;

    .button {
        margin-top: 10px;
    }

    input, label {
        width: 100%;
    }

    label {
        display: block;
        text-align: left;
        margin-bottom: 9px;
    }

    input {
        padding: 10px;
        font-size: 18px;
        margin-bottom: 26px;
        box-sizing: border-box;
        background-color: var(--bg-light);
        border: none;
    }

    input:-internal-autofill-selected {
        background-color: var(--bg-light) !important;
    }
}

// =======================
// Buttons and Links
// =======================
.button {
    --button-color: black;
    background: var(--button-color);
    color: white;
    padding: 9px 27px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    font-size: 17px;
    letter-spacing: 0.3px;
    transition: opacity .2s;

    @include viewport(small) {
        display: block;
    }

    &:hover {
        opacity: .85;
        transition: opacity .2s;
    }

    &-submit {
        --button-color: var(--green);
    }

    &-alert {
        --button-color: var(--red);
    }

    &-disabled {
        --button-color: var(--gray);
    }
}

.link {
    --link-color: black;
    color: var(--link-color);
    position: relative;
    // font-family: 'Satoshi-Medium';
    // font-size: 19px;
    transition: color .3s;

    &:hover {
        color: var(--primary);
        transition: color .3s;
    }

    &-submit {
        --link-color: var(--green);
    }

    &-alert {
        --link-color: var(--red);
    }

    &-disabled {
        --button-color: var(--gray);
    }
}

// =======================
// Re-usable classes
// =======================
.visually-hidden {
    display: none;
}

.status {
    padding: 0 0 20px;
}

.bold {
    font-weight: 700;
}

.status-message {
    color: var(--accent);
    padding: 20px 0 20px;

    &.error {
        color: var(--red);
    }

    &.success {
        color: var(--green);
    }
}

.submit-info {
    display: block;

    &-success {
        color: var(--green);
    }

    &-error {
        color: var(--red);
    }
}