// =======================
// HTML tags
// =======================
h1, h2, h3, h4, h5 {
    font-weight: 500;
    margin: 0;
    color: black;
}

a {
    // text-decoration: none;
    color: black;
}

p {
    color: black;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

// =======================
// Forms
// =======================
form {
    max-width: 500px;

    .button {
        margin-top: 10px;
    }

    input, label {
        width: 100%;
    }

    label {
        display: block;
        text-align: left;
        margin-bottom: 9px;
    }

    input {
        padding: 10px;
        font-size: 18px;
        margin-bottom: 26px;
        box-sizing: border-box;
        background-color: $bg-light;
        border: none;
    }

    input:-internal-autofill-selected {
        background-color: $bg-light !important;
    }
}

// =======================
// Buttons and Links
// =======================
.button {
    --button-color: black;
    background: var(--button-color);
    color: white;
    padding: 9px 27px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    font-family: 'Satoshi-Black';
    font-size: 17px;
    letter-spacing: 0.3px;
    transition: opacity .2s;

    &:hover {
        opacity: .85;
        transition: opacity .2s;
    }

    &-submit {
        --button-color: #{$green};
    }

    &-alert {
        --button-color: #{$red};
    }

    &-disabled {
        --button-color: #{$gray};
    }
}

.link {
    --link-color: black;
    color: var(--link-color);
    position: relative;
    text-decoration: none;
    font-family: 'Satoshi-Medium';
    font-size: 19px;
    padding-bottom: 4px;

    &:after {
        --width-offset: 2px; // 100% width + this variable
        content: '';
        position: absolute;
        bottom: 0;
        left: calc(var(--width-offset) / 2 * -1);
        width: calc(100% + var(--width-offset));
        height: 2px;
        background-color: var(--link-color);
        transition: transform .2s;
    }

    &:hover {
        &:after {
            transform: scaleX(1.1);
            transition: transform .2s;
        }
    }

    &-submit {
        --link-color: #{$green};
    }

    &-alert {
        --link-color: #{$red};
    }

    &-disabled {
        --button-color: #{$gray};
    }
}

// =======================
// Re-usable classes
// =======================
.visually-hidden {
    display: none;
}

.status {
    padding: 0 0 20px;
}

.bold {
    font-weight: 700;
}

.status-message {
    color: $accent;
    padding: 20px;

    &.error {
        color: $red;
    }

    &.success {
        color: $green;
    }
}

