// =======================
// Shared Page Styles
// =======================

.view {
    padding: 60px 40px;
    text-align: left;
}

.content-wrapper {
    max-width: $container-size;
    margin: 0 auto;
    padding: 0 20px;
}