// =========================
// Colors
// =========================
$red: #Db5262;
$maroon: #530312;
$red-light: #dd5953;
$red-dark: $maroon;
$warning: $red;

$green: #00cf99;
$green-dark: #098074;
$success: $green;

$blurple: #5251fa;

$gold: #F7B500;

$gray: #ccc;
$gray-dark: #666;

$bg-light: #f7fafc;
$bg-dark: #1b1c31;

$border-color: #f1f1f1;

// Set Primary and Accent Colors
$primary: $blurple;
$accent: $blurple;

// =========================
// Spacing
// =========================
$section-spacing: 70px;
$container-size: 1200px;
$radius: 5px;
$top-bar-height: 90px;

// =========================
// Viewports
// =========================
$viewport-xlarge: 1400px;
$viewport-large: 1200px;
$viewport-medium: 900px;
$viewport-small: 767px;
$viewport-xsmall: 400px;