// ============================================
// Viewport Mixin
// * easier syntax for media queries
// * desktop first approach
// ============================================
@mixin viewport($viewport-name) {
    @if $viewport-name == 'large' {
        @media screen and (max-width: $viewport-large) {
            @content;
        }
    } @else if $viewport-name == 'medium' {
        @media screen and (max-width: $viewport-medium) {
            @content;
        }
    } @else if $viewport-name == 'small' {
        @media screen and (max-width: $viewport-small) {
            @content;
        }
    }
}


// ============================================
// Absolute Vertical Centering Mixin
// ============================================
@mixin vertical-center() {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}